<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <meta name="description" content="Web site created using HybridUI"/>
    <link rel="apple-touch-icon" href="../images/logo192.png"  />
    <link rel="manifest" href="../manifest.json" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/eel.js"></script>

    <script crossorigin src="../js/libs/react.production.min.js"></script>
	<script crossorigin src="../js/libs/react-dom.production.min.js"></script>
    <script src='../js/libs/react-router-dom.min.js'></script>
    <script type="application/javascript" src="../js/libs/dayjs.min.js"></script>

    <script type="application/javascript" src="../js/libs/antd.min.js"></script>
    <script type="application/javascript" src="../js/libs/index.umd.min.js"></script>

    <link rel="stylesheet" href="../css/reset.min.css" id="antdcss">
    <script src="https://cdn.jsdelivr.net/npm/@antv/g2plot@2.4.31/dist/g2plot.min.js"></script>

    <script type="application/javascript" src="../js/libs/babel.min.js"></script>
    
    <title>EEL Antd</title>
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="text/babel">
        const {Layout}=antd
        
        const { Header, Content, Sider, Footer } = Layout;
        const { Html5Outlined, EditOutlined } = icons;
        const eel = window["eel"];
        const Link = ReactRouterDOM.Link;
        const Route = ReactRouterDOM.Route;

        const AntdComponentMap = {};
        const AntdIconsMap = {};
        const AntdChartsMap = {};

	    let alte_event_wert = null
        const eventMap = {
            'onClick': (e)=>{ console.log(e, alte_event_wert)},
            'onChange': (e)=>{ console.log(e, alte_event_wert)}
        }


        const loadAntdComponent = async (componentName) => {
            const antd_ = antd;
            return antd_[componentName];
        };

        const loadAntdIconComponent = async (iconName) => {
            if (!AntdIconsMap[iconName]) {
                const icons_ = icons
                AntdIconsMap[iconName] = icons_[iconName];
            }
            return AntdIconsMap[iconName];
        };

        const loadG2PlotChartComponent = async (chartName) => {
            if (!AntdChartsMap[chartName]) {
                const G2Plot_ = G2Plot
                AntdChartsMap[chartName] = G2Plot_[chartName];
            }
            return AntdChartsMap[chartName];
        };



        const stylesMap = (styles) => {
            let mappedStyles = {};
            // Check if styles exist and is an array before running the forEach loop
            if (styles && Array.isArray(styles)) {
                styles.forEach((style) => {
                mappedStyles[style.name] = style.value;
                });
            }
            return mappedStyles;
        };



        const isVoidElement = (componentName) => [
            'Input',
            'InputNumber',
            'Calendar',
            'TextArea',
            
            
            
        
        ].includes(componentName);

        const SubElementMap = {
            'Content':Content,
            'Header':Header,
            'Sider':Sider,
            'Footer':Footer
            
        };

        const DynamicAntdComponent = ({ component, props: componentProps, content }) => {
            const [AntdComponent, setAntdComponent] = React.useState(null);
            const [AntdIcon, setAntdIcon] = React.useState(null);
            const [AntdChart, setAntdChart] = React.useState(null);
            const [EventCall, setEventCall] = React.useState(null);

            React.useEffect(() => {
                
                const loadComponent = async () => {
                    if (!AntdComponent) {
                        if (!AntdComponentMap[component]) {
                            AntdComponentMap[component] = await loadAntdComponent(component);
                        }
                        setAntdComponent(AntdComponentMap[component]);
                    }
                };
                const loadicon = async () => {
                    if (!AntdIcon) {
                        if (!AntdIconsMap[component]) {
                            AntdIconsMap[component] = await loadAntdIconComponent(component);
                        }
                        setAntdIcon(AntdIconsMap[component]);
                    }
                };
                const loadchart = async () => {
                    if (!AntdChart) {
                        if (!AntdChartsMap[component]) {
                            AntdChartsMap[component] = await loadG2PlotChartComponent(component);
                        }
                        setAntdChart(AntdChartsMap[component]);
                    }
                };

                loadComponent();
                loadicon();
                loadchart();
            }, [component, AntdComponent, AntdChart, AntdIcon]);

            if (!AntdComponent) {
                return null;
            }
            
            const componentStyles = stylesMap(componentProps.styles);
            const isVoid = isVoidElement(component);
            

            let renderedContent = null;
            if (typeof content === 'string') {
                renderedContent = content;
            } else if (Array.isArray(content)) {
                renderedContent = content.map((child, index) => (
                    // Handle text nodes or nested components here
                    typeof child === 'string' ? child : (
                        <DynamicAntdComponent key={index} {...child} />
                    )
                ));
            }

            const jsxProps = Object.keys(componentProps).reduce((acc, propKey) => {
                if (eventMap[propKey]) {
                    const eventHandlerKey = componentProps[propKey]; // Holen Sie sich den Wert aus componentProps
                    
                    acc[propKey] = (e) => {
                        //setEventCall(eventHandlerKey)
                        const f=(e)=>{alte_event_wert = eventHandlerKey}
                        f()
                        console.log(`Event '${propKey}' ausgelöst mit Wert: ${eventHandlerKey}`);
                        eventMap[propKey](e);
                        
                        
                    };

                } else {
                    acc[propKey] = componentProps[propKey];
                }
                return acc;
            }, {});

            const jsx = isVoid ?  (
                <AntdComponent {...jsxProps} />
            ) : (
                <AntdComponent {...jsxProps} style={componentStyles}>
                    {renderedContent}
                </AntdComponent>
            );
            
            return jsx 
        };








        const App = () => {
            eel.set_host("ws://localhost:8888");

            
            const jsonObject = {
                "component": "Layout",
                "props": {
                
                },
                "content": [
                "Textknoten",
                {
                    "component": "Button",
                    "props": {
                    "type":"primary",
                    "onClick":'onClick'
                    }, // Empty object as props
                    "content": ["hallo"]
                },
                {
                    "component": "Input",
                    "props": {
                        'placeholder':'Entry',
                        "onChange":'onChjijjoijioange',
                    }, // Empty object as props
                    "content": ["hallo"]
                },
                {
                    "component": "Slider",
                    "props": {
                    }, // Empty object as props
                    "content": ["hallo"]
                },
                
                ]
            };
            
            
            return (
                <div>
                    <ReactRouterDOM.HashRouter>
                        <Link to="/">Home</Link>
                        <Link to="/login">Login</Link>
                        <Link to="/register">Register</Link>
                        
                        <Layout>
                            <DynamicAntdComponent {...jsonObject} />     
                        </Layout>
                        <Route path="/" exact component={Home} />
                        <Route path="/login" component={Login} />
                        <Route path="/register" component={Register} />
                    </ReactRouterDOM.HashRouter>
                </div>
            );
        };


        const Home = () => <h1>Home</h1>
        const Login = () => <h1>Login</h1>
        const Register = () => <h1>Register</h1>
        ReactDOM.render(
            <App />,
            document.querySelector('#root'),
        );
    </script>
    
</body>
</html>
